# Pymaceuticals Inc.
---

### Analysis

- Add your analysis here.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single DataFrame
data_merged = pd.merge(study_results, mouse_metadata, how="left")

# Display the data table for preview
data_merged.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25

In [2]:
# Checking the number of mice.
data_merged["Mouse ID"].nunique()

249

In [8]:
# Our data should be uniquely identified by Mouse ID and Timepoint
# Get the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
dup_mice = []
dup_data = data_merged.duplicated(subset=["Mouse ID", "Timepoint"])
dup_ids = data_merged[dup_data]["Mouse ID"].unique()

for id in dup_ids:
    dup_mice.append(dup_ids)
    
print(dup_mice)
print(dup_ids)

[array(['g989'], dtype=object)]
['g989']

In [22]:
# Optional: Get all the data for the duplicate mouse ID.

for x in dup_mice:
    data_merged[data_merged["Mouse ID"] == x]

ValueError: ('Lengths must match to compare', (1893,), (1,))

In [12]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
# for x in dup_mice:
#     data_merged[data_merged["Mouse ID"] == x]

# pd.set_option('display.max_rows', None)
data_complete = data_merged.drop_duplicates(subset="Mouse ID").reset_index(drop=True)
# duplicates = data_complete.duplicated(subset=["Mouse ID","Timepoint"])
# duplicate_data = data_complete[duplicates]
# duplicate_data
data_complete

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25
...,...,...,...,...,...,...,...,...
244,t565,0,45.0,0,Capomulin,Female,20,17
245,i557,0,45.0,0,Capomulin,Female,1,24
246,m957,0,45.0,0,Capomulin,Female,3,19
247,f966,0,45.0,0,Capomulin,Male,16,17
248,m601,0,45.0,0,Capomulin,Male,22,17

In [17]:
# Checking the number of mice in the clean DataFrame.
data_complete["Mouse ID"].unique()

array(['b128', 'f932', 'g107', 'a457', 'c819', 'h246', 'p189', 'n923',
       'q119', 'f993', 'z234', 'b559', 'y260', 'x930', 'o725', 'z969',
       'v835', 'r604', 'n304', 'l700', 'x336', 'l725', 'm133', 'v295',
       'a818', 'y601', 't724', 'k382', 'w422', 'c326', 'c139', 'v339',
       'a577', 'y163', 'k483', 'k804', 'o809', 'z581', 'a251', 'i386',
       'c580', 'q132', 'u327', 'v603', 'f278', 'g497', 'd474', 'o973',
       'c832', 'o331', 'm650', 'v289', 'm550', 'h428', 'r701', 'v199',
       'x264', 'f234', 'c458', 'q610', 'j913', 'a411', 'a444', 'd251',
       'j989', 'y449', 'k403', 'c758', 'x402', 'r811', 'a644', 'i177',
       'g791', 'a520', 'u196', 'm546', 'w678', 'n364', 's508', 'e662',
       'z578', 'r921', 'a492', 'w540', 'v764', 'z795', 'e291', 'e584',
       'e213', 'j755', 's565', 'a366', 'p387', 'b879', 'i901', 'k862',
       'g867', 's619', 'w697', 'j984', 'c402', 'h333', 'k510', 'p981',
       't451', 'a963', 'm269', 'g989', 'z314', 'o848', 'v719', 'q597',
       'c895', 'a203', 'f394', 'c264', 'n967', 'f545', 'k894', 'k754',
       'g296', 'd164', 'w575', 'x613', 'q633', 'b313', 'f129', 'j365',
       'p136', 'c559', 'a788', 's337', 'q511', 'm331', 'o926', 'd133',
       'n630', 'a401', 'w350', 'c302', 'a897', 'j235', 'q787', 'a262',
       'r850', 'i669', 'n763', 's152', 'c766', 'e227', 'c282', 'v989',
       'w140', 'v409', 'l872', 'o795', 'y478', 'q582', 's166', 'x773',
       'w167', 't718', 'o302', 'i477', 'c757', 't994', 'p310', 'a699',
       'k603', 'x822', 'l558', 'l733', 'f436', 'l490', 'b759', 'l471',
       'y865', 'y769', 'l661', 'j296', 'u149', 'u153', 'w151', 'h531',
       'a685', 'o813', 'm756', 'n671', 's121', 'v766', 'w193', 'e476',
       'w584', 'b447', 'k210', 'a275', 'x581', 'n482', 't198', 'l215',
       's141', 'o523', 'i635', 'w746', 'r107', 's187', 'g570', 'x209',
       'x111', 'z435', 'n678', 'g558', 'u946', 'o562', 'v991', 'c927',
       'x226', 'p438', 'b487', 'o287', 'q483', 't573', 'f345', 'i334',
       'l264', 'j246', 'r554', 's185', 'b742', 'x401', 'l509', 's710',
       'r157', 'u364', 'j119', 'v923', 'w914', 'i738', 'r944', 'y793',
       'g316', 'g288', 'l897', 'w150', 't565', 'i557', 'm957', 'f966',
       'm601'], dtype=object)

## Summary Statistics

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary DataFrame.

In [ ]:
# A more advanced method to generate a summary statistics table of mean, median, variance, standard deviation,
# and SEM of the tumor volume for each regimen (only one method is required in the solution)

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of rows (Mouse ID/Timepoints) for each drug regimen using Pandas.

In [ ]:
# Generate a bar plot showing the total number of rows (Mouse ID/Timepoints) for each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original DataFrame to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes

    
    # add subset 

    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot that shows the distrubution of the tumor volume for each treatment group.

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a single mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of mouse weight vs. the average observed tumor volume for the entire Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and a linear regression model 
# for mouse weight and average observed tumor volume for the entire Capomulin regimen